*.so.*
credentials
__pycache__

build
*.egg-info
.*cache
*.tif
*.vrt
.data
.TMP

# include test data files
!tests/cop_glo30/data/**/*.tif
!tests/cop_glo30/data/**/*.vrt

# ignore secret files
*.secret

# ignore notebooks
*.ipynb