*.so.*
credentials
__pycache__
.vscode

build
*.egg-info
.*cache
*.tif
*.vrt
.data
.TMP

# include test data files
!tests/cop_glo30/data/**/*.tif
!tests/rema/data/**/*.tif
!tests/data/geoid/*.tif

# ignore secret files
*.secret

# ignore notebooks
*.ipynb